<div id="thumbs-list">
  <div id="thumbs" >
    <%- @pics.each do |pic| %>
      <%= image_tag(pic.image.url(:thumb), :alt => pic.image.url, :title => pic.title) %>
    <%- end %>
  </div>
</div>

<div id="photo-panel">
  <div id="wrapper">
    <a id="prev"></a>
    <a id="next"></a>
    <img id='sample-image' />
    <div id='photo-panel-detail'>
      <h2> Descrição: a descrição </h2>

    </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<%= javascript_include_tag 'photowall' %>
